body{
    background-color:white;
}
.head-line{
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
.head-line-style{
    margin: 50px 30px 50px;
    margin-top: 3%;
}
.start-button{
    font-weight: bold;
    padding:0.7em 1.7em;
    text-align: center;
    background-color: #e44232;
    color: white;
    font-size: 1.2em;
    border-radius: 0.5em;
    border-color: #e44232;
    font-family: 'Ubuntu', sans-serif;
}
.start-button:hover{
    background-color: #ee2411;
    color: white;
}
.style-button{
    text-align: center;
    margin-top: -2rem;
}
.img-set{
  margin-top: -150px;
  background-image: url("images/organize.webp");
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  height: 775px;
  width:1400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.input-label{
    margin-top: 2em;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: bold;
}
#input-task{
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0.6em;
    border-radius: 0.5em;
    border-color:black;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
#enter-button{
    font-size:1.2em;
    border-color:black;
    margin-left:0.5em;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0.5em;
}
#enter-button:hover{
	background-color: #e44232;
    color: white;
}
#MyTaskList{
    list-style: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;  
}
